---
import App from '@components/App.astro';
---

<section class='container'>
	<App />
</section>

<style lang='scss'>
	$background: #1f1f1f;
	$max_height: 100vh;
	$max_width: 100vw;

	@mixin flex_center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		background: $background;
		width: $max_width;
		height: $max_height;
		@include flex_center();
	}
</style>
