---
import App from './App.astro';
---

<section class='container'>
	<App />
</section>

<style lang='scss'>
	$background: #1f1f1f;
	.container {
		background: $background;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
